.Contenedor{
padding:297px;
text-align:center;
 margin:0;
 box-sizing: border-box;

}
.lbl{
    background: black;
    color: white;
    padding:10px 15px;
    
}
body{
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    background: white;
}
button{
    margin-top: 10px;
    padding: 5px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
